---
import Layout from '../layouts/Layout.astro';
import OrchidGallery from '../components/OrchidGallery';
import { orchids } from '../data/orchids';
---

<Layout title="Galería - Guayabo Abajo Vivero la Orquídea">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8 text-center text-primary dark:text-secondary">Galería de Plantas</h1>
    <OrchidGallery orchids={orchids} client:load />
  </div>
</Layout>
