---
const currentYear = new Date().getFullYear();
---

<footer class="bg-white dark:bg-dark-bg shadow-md mt-8">
  <div class="container mx-auto px-4 py-6 flex flex-col md:flex-row justify-between items-center">
    <p class="text-sm mb-4 md:mb-0">&copy; {currentYear} Guayabo Abajo Vivero la Orquídea. Todos los derechos reservados.</p>
    <div class="flex space-x-4">
      <a href="https://www.facebook.com/p/Guayabo-Abajo-Vivero-La-Orqu%C3%ADdea-100057437688502/" target="_blank" rel="noopener noreferrer" class="text-primary dark:text-secondary hover:opacity-80 transition-opacity">
        Facebook
      </a>
      <a href="tel:+50683202991" class="text-primary dark:text-secondary hover:opacity-80 transition-opacity">
        +506 8320-2991
      </a>
    </div>
  </div>
</footer>